
{% extends 'temp/home.html' %}
{% block base %}

<section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Login</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="text" placeholder="Username" name="uname">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Password" name="passw">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Login Now</button>
                        </form>
                        <a href="#" class="forget_pass">Forgot Your Password?</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Dont’t Have An Account?</h3>
                        <a href="/user/usr/" class="primary-btn">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}