{#<!DOCTYPE html>#}
{#<head>#}
{#    <title>Login</title>#}
{#</head>#}
{#<body>#}
{#    <h1>LOGIN</h1>#}
{#    <form action="">#}
{#        <table>#}
{#            <tr>#}
{#                <td>username</td>#}
{#                <td><input type="text" name="uname"></td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>password</td>#}
{#                <td><input type="password" name="passw"></td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td></td>#}
{#                <td><input type="submit" name="submit" value="LOGIN"></td>#}
{#            </tr>#}
{#        </table>#}
{#    </form>#}
{#</body>#}
{#</html>#}


{% extends 'temp/home.html' %}
{% block base %}

<section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Login</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="text" placeholder="Email address" name="uname">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Password" name="passw">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Login Now</button>
                        </form>
                        <a href="#" class="forget_pass">Forgot Your Password?</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Dont’t Have An Account?</h3>
                        <a href="/user/usr/" class="primary-btn">Register Now</a>
                    </div>
                </div>
            </div>
{#            <div class="login__social">#}
{#                <div class="row d-flex justify-content-center">#}
{#                    <div class="col-lg-6">#}
{#                        <div class="login__social__links">#}
{#                            <span>or</span>#}
{#                            <ul>#}
{#                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With#}
{#                                Facebook</a></li>#}
{#                                <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>#}
{#                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>div#}
        </div>
    </section>

{% endblock %}