<!DOCTYPE html>
<head>
    <title>Friends</title>
</head>
<body>
    <h1>FRIENDS</h1>
    <form method="post">
        <table>
            {% csrf_token %}
            <tr>
                <td>username</td>
                <td><input type="text" name="uname" id=""></td>
            </tr>
            <tr>
                <td>liked</td>
                <td><input type="radio"  name="like" value="yes" id="yes"><label for="yes">yes</label></td>
                <td><input type="radio" name="like" value="no" id="no"><label for="no">no</label></td>
            </tr>
            <tr>
                <td>name</td>
                <td><input type="text" name="name" id=""></td>
            </tr>
            <tr>
                <td>watched</td>
                <td><input type="radio"  name="watch" value="yes" id="yes"><label for="yes">yes</label></td>
                <td><input type="radio" name="watch" value="no" id="no"><label for="no">no</label></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="SUBMIT" id=""></td>
            </tr>
        </table>
    </form>
</body>
</html>