{% extends 'temp/user.html'%}
{% block base %}

<!DOCTYPE html>

<head>
    <title>Watchlist</title>
</head>

<body>
<center style="margin: 30px; padding: 40px;">
    <h1 style="background-color: white; width: 40%" >WATCHLIST</h1>
    <form method="post">
        <table class="table-light" width="40%" style="padding: 30px">
             {% csrf_token %}
            <tr>
                <td>movie</td>
                <td><select name="mname" required="">
                <option value="">--select movie name--</option>
                    {% for i in x %}
                        <option value="{{ i.m_id }}">{{ i.name }}</option>
                    {% endfor %}
                </select> </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="SUBMIT" id="" style="margin-bottom: 20px;"></td>
            </tr>
        </table>
    </form>
</center>
</body>

</html>
{% endblock %}