{% extends 'temp/user.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <table class="table" style="width: 40%;" border="2">
        <tr style="height: 50px; background-color: #B0450D">
            <th>watched</th>
            <th>Movie name</th>
        </tr>
         {% for i in kk %}
        <tr style="background-color: white;">
            <th>{{ i.watched_id }}</th>
            <th>{{ i.m.name }}</th>
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>
{% endblock %}