{% extends 'temp/user.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{#<style>#}
{#    h2, table{#}
{#        align: center;#}
{#        color: white;#}
{#    }#}
{#    form{#}
{#        align: center;#}
{#    }#}
{##}
{#</style>#}
<body>
<center>
    <table class="table" style="width: 40%;">
        <tr style="height: 50px; background-color: #B0450D">
            <th>User name</th>
            <th>Movie name</th>
            <th>like</th>
        </tr>

         {% for i in km %}
        <tr style="background-color: white;">
            <th>{{ i.u.username }}</th>
            <th>{{ i.m.name }}</th>
            <th>{{ i.status }}</th>
        </tr>
         {% endfor %}

    </table>
</center>
</body>

</html>
{% endblock %}