{% extends 'temp/admin.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <table border="2">
        <tr style="background-color:#0c2b4b; width: 60%;color: white " >
            <th>movie name</th>
            <th>year</th>
        </tr>
         {% for i in kk %}
        <tr  style="background-color: white;">
            <th>{{ i.movie_name }}</th>
            <th>{{ i.release_year }}</th>
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>
{% endblock %}