{% extends 'temp/user.html' %}
{% block base %}
<!DOCTYPE html>
<head>
    <title>Feedback</title>
</head>

<body class="text-danger" >

    <h2 class="text-danger "align="center">FEEDBACK </h2>
    <table align="center" class="border border-secondary" >

    <form method="post" class="text-danger " >

            {% csrf_token %}
            <tr>
                <td>movie name</td>
                <td><input type="text" name="mname" id="" required="" class="form-control text-danger" ></td>
            </tr>
            <tr>
                <td>year</td>
                <td><input type="number" min="1900" max="2100" name="year"></td>
            </tr>
            <tr>
                <td>discription</td>
                <td><input type="text" name="dis" ></td>
            </tr>
            <tr>
                <td>date</td>
                <td><input type="date" name="date" id=""></td>
            </tr>
            <tr>
                <td>rating</td>
                <td><input type="phone" min="1" max="10" name="rating"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="SUBMIT" id="" class="rounded-pill" ></td>
            </tr>
        </table>
    </form>
</body>
</html>

{% endblock %}