{% extends 'temp/user.html' %}
{% block base %}
<!DOCTYPE html>
<head>
    <title>Feedback</title>
</head>

<body >
<center>
    <h2 style="background-color:ghostwhite; width: 40% " >FEEDBACK </h2>
    <table class="table" style="width: 40%"  >

     <form method="post"  >

            {% csrf_token %}
            <tr style="background-color: white;">
                <td>movie name</td>
                <td><select name="mname" >
                <option value="">--select movie name--</option>
                    {% for i in x %}
                        <option value="{{ i.m_id }}">{{ i.name }}</option>
                    {% endfor %}
                </select></td>
            </tr>
{#            <tr style="background-color: white;">#}
{#                <td>year</td>#}
{#                <td><input type="number" min="1900" max="2100" name="year" required=""></td>#}
{#            </tr>#}
            <tr style="background-color: white;">
                <td>discription</td>
                <td><input type="text" name="dis" required=""></td>
            </tr>
            <tr style="background-color: white;">
                <td>rating</td>
                <td><input type="text" minlength="1" maxlength="10" name="rating" required=""></td>
            </tr>
            <tr style="background-color: white;">
                <td></td>
                <td><input type="submit" name="submit" value="SUBMIT" id="" class="rounded-pill" ></td>
            </tr>
    </form>
    </table>

    </center>
</body>
</html>

{% endblock %}