{% extends 'temp/admin.html' %}
{% block base %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table border="2">
            <tr>
                <td>Reply</td>
                <td><input type="text" name="rply"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="SUBMIT"></td>
            </tr>
        </table>
    </form>
</body>
</html>

{% endblock %}