<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
{#                            <img src="/static/img/logo.png" alt="">#}
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html">Homepage</a></li>
                                <li><a href="#">Friends <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="/friends/friends/#aa">Add friends</a></li>
                                        <li><a href="/friends/ searchf/#aa">Search friends</a></li>
                                        <li><a href="/friends/viewf/#aa">Manage friends</a></li>
                                    </ul>
                                </li>
                                <li><a href="/user/viewu/">My profile</a></li>
                                <li><a href="./categories.html">Movies <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="/movie/viewmv/">movie/show list</a></li>
                                        <li><a href="/request/reqst/">Movie request</a></li>
                                        <li><a href="/like_movie/likemovie/">Liked movies</a></li>

                                        <li><a href="/like_movie/viewlm/">View Liked </a></li>
                                    </ul>
                                </li>
                                <li><a href="./categories.html">Watch Options <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
{#                                        <li><a href="/movie/viewmv/">movie/show list</a></li>#}
{#                                        <li><a href="./anime-details.html">movie rating</a></li>#}
                                        <li><a href="/watchlist/viewwatli/">Watchlist</a></li>
                                        <li><a href="/watched/viewwtd/">Watched</a></li>
                                        <li><a href="/watched/watched/">Add Watchlist</a></li>
                                        <li><a href="/watchlist/watchlist/">Add Watched</a></li>

                                        <!-- <li><a href="./login.html">Login</a></li> -->
                                    </ul>
                                </li>
                                 <li><a href="./categories.html">Feedback<span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="/feedback/ feedback/"> feedback</a></li>
                                        <li><a href="/feedback/ viewrply/">reply feedback</a></li>
{#                                         <li><a href="/watchlist/viewwatli/">Watchlist</a></li>#}
{#                                        <li><a href="/watched/viewwtd/">Watched</a></li>#}
{#                                        <li><a href="/request/reqst/">Movie request</a></li>#}
{#                                        <li><a href="/like_movie/viewlm/">Liked movies</a></li>#}

                                        <!-- <li><a href="./login.html">Login</a></li> -->
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="/login/login/"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="/static/img/got.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Drama</div>
                                <h2>Game of Thrones</h2>
                                <p>Nine noble families wage war against each other in order to gain control over the mythical land of Westeros. Meanwhile, a force is rising after millenniums and threatens the existence of living men.</p>
                                <a href="https://www.hotstar.com/in/tv/game-of-thrones/8184?utm_source=gwa"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="/static/img/tlotr.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label"> Fantasy/Adventure</div>
                                <h2>The Lord of the Rings: The Return of the King</h2>
                                <p>The former Fellowship members prepare for the final battle. While Frodo and Sam approach Mount Doom to destroy the One Ring, they follow Gollum, unaware of the path he is leading them to.</p>
                                <a href="https://www.primevideo.com/dp/amzn1.dv.gti.91d91081-a2e1-4004-af7d-4efb31e99e27?autoplay=0&ref_=atv_cf_strg_wb"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="/static/img/the-dark-knight-rises.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label" >Action/Thriller</div>
                                <h2>The Dark Knight Rises</h2>
                                <p>Bane, an imposing terrorist, attacks Gotham City and disrupts its eight-year-long period of peace. This forces Bruce Wayne to come out of hiding and don the cape and cowl of Batman again.</p>
                                <a href="https://www.netflix.com/in/title/70213514?source=35" id="pp"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

<div id="aa">
    {% block base %}
    {% endblock %}
</div>
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Trending Now</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/trending/shzam2.jpg">
                                        <div class="ep"> 2h 10m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 6.7</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2023</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Action</li>
                                            <li>David F. Sandberg</li>
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://in.bookmyshow.com/buytickets/shazam-fury-of-the-gods-thrissur/movie-thsr-ET00312239-MT/20230319">Shazam! Fury of the Gods</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/trending/ant-man-2023.jpg">
                                        <div class="ep">2h 5m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 6.4</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2023</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Action/Adventure</li>
                                            <li>Peyton Reed</li>
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.marvel.com/movies/ant-man-and-the-wasp-quantumania">Ant-Man and the Wasp: Quantumania</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/trending/avatar2.jpg">
                                        <div class="ep">3h 12m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 7.8</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2022</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Sci-fi/Action</li>
                                            <li>James Cameron</li>
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.avatar.com/movies/avatar-the-way-of-water">Avatar: The Way of Water</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/trending/eeaao.jfif">
                                        <div class="ep">2h 20m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 7.9</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2022</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li> Adventure/Sci-fi</li>
                                            <li>Daniel Kwan, Daniel Scheinert</li>
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.sonyliv.com/movies/everything-everywhere-all-at-once-1000213025">Everything Everywhere All At Once</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Movies</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/popular/The_Shawshank_Redemption-576140557-large.jpg">
                                        <div class="ep"> 2h 22m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 9.3</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 1994</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li> Drama/Crime</li>
                                            <li> Frank Darabont</li>
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.youtube.com/watch?v=XLPXI8KUztg">The Shawshank Redemption</a></h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/popular/pulpfiction.jpg">
                                        <div class="ep">2h 45m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 8.9</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 1994</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li> Crime/Drama</li>
                                            <li>Quentin Tarantino</li>
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.primevideo.com/dp/amzn1.dv.gti.6eabfbe6-d1b6-c160-b583-7edbaa26d96b?autoplay=0&ref_=atv_cf_strg_wb">Pulp Fiction</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/popular/godfather.jpg">
                                        <div class="ep">2h 55m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 9.2</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 1972</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Crime/Drama</li>
                                            <li>Francis Ford Coppola</li>
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.youtube.com/watch?v=fVVLR2u1nSk">The Godfather</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/popular/Interstellar.jpg">
                                        <div class="ep">2h 49m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 8.6</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2014</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li> Sci-fi/Adventure</li>
                                            <li>Christopher Nolan</li>
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.youtube.com/watch?v=vrjPsQYHU1c">Interstellar</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Best Animated Movies Ever Made</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/graveoff.jpg">
                                        <div class="ep">1h 29m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 8.5</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 1988 </div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>War/Drama</li>
                                            <li>Isao Takahata</li>
                                            <li>Japanese</li>
                                        </ul>
                                        <h5><a href="https://tv.apple.com/us/movie/grave-of-the-fireflies/umc.cmc.56ocumdio0borad1fh54jsb8y">Grave of the Fireflies</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/lionking.jpg">
                                        <div class="ep">1h 28m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 8.5</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 1994</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Musical/Family</li>
                                            <li>Rob Minkoff, Roger Allers</li>
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.hotstar.com/in/movies/the-lion-king/1660000046/watch?utm_source=gwa">The Lion King</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/howtotrainyourdragon.jpg">
                                        <div class="ep">1h 38m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 8.1</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2010 </div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Family/Adventure</li>
                                            <li>Dean DeBlois, Chris Sanders</li>
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.primevideo.com/dp/amzn1.dv.gti.b8b02e3f-9ef9-d61c-e2a3-050bd9ad1c66?autoplay=0&ref_=atv_cf_strg_wb">How to Train Your Dragon</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/saway.jpg">
                                        <div class="ep">2h 5m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 8.6</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2001</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>  Fantasy/Adventure</li>
                                            <li>Hayao Miyazaki</li>
                                            <li>Japanese</li>
                                        </ul>
                                        <h5><a href="https://www.netflix.com/in/title/60023642?source=35">Spirited Away</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="recent__product">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div class="section-title">
                                        <h4>Trending now malayalam </h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="btn__all">
                                        <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/christopher.jpg">
                                        <div class="ep">  2h 30m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 6.3</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2023</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>  Action</li>
                                            <li>  B. Unnikrishnan</li>
                                            <li>Malayalam</li>
                                        </ul>
                                        <h5><a href="https://www.primevideo.com/dp/amzn1.dv.gti.1b9250d4-64eb-465f-b1e2-9312a5825deb?autoplay=0&ref_=atv_cf_strg_wb">Christopher</a></h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/Thuramukham.jpg">
                                        <div class="ep"> 2h 55m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 6.6</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2023 </div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li> Drama/Historical</li>
                                            <li>Rajeev Ravi</li>
                                            <li>Malayalam</li>
                                        </ul>
                                        <h5><a href="https://in.bookmyshow.com/buytickets/thuramukham-kochi/movie-koch-ET00306226-MT/20230321">Thuramukham</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/roman.jpg">
                                        <div class="ep"> 2h 12m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 8.1</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2023</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Comedy/Horror</li>
                                            <li>Jithu Madhavan</li>
                                            <li>Malayalam</li>
                                        </ul>
                                        <h5><a href="https://in.bookmyshow.com/buytickets/romancham-kochi/movie-koch-ET00342119-MT/20230321">Romancham</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/alone.jfif">
                                        <div class="ep">2h 2m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 3.7</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2023</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Thriller</li>
                                            <li>Shaji Kailas</li>
                                            <li> Malayalam</li>
                                        </ul>
                                        <h5><a href="https://www.hotstar.com/in/movies/alone/1260132120/watch">Alone</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {#                new malayalam movies section#}
                        <div class="recent__product">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div class="section-title">
                                        <h4>Top Rated TV Shows </h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="btn__all">
                                        <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/A1UkVLkMCwL.jpg">
                                        <div class="ep"> 4h 58m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 9.5</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2016</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>  Nature documentary</li>
{#                                            <li> Ildikó Enyedi</li>#}
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.primevideo.com/dp/amzn1.dv.gti.c2909819-dcc4-46ad-bf04-30ebe66a8bba?autoplay=0&ref_=atv_cf_strg_wb">Planet Earth II</a></h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/breakingb.webp">
                                        <div class="ep"> 5 seasons</div>
                                        <div class="comment"><i class="fa fa-star"></i> 9.5</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2008</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li> Drama</li>
{#                                            <li>Uda Benyamina</li>#}
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.netflix.com/in/title/70143836?source=35">Breaking Bad</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/game-of-thrones-poster.jpg">
                                        <div class="ep">8 seasons</div>
                                        <div class="comment"><i class="fa fa-star"></i> 9.2</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2011</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Drama</li>
{#                                            <li>Nora Fingscheidt</li>#}
                                            <li>English</li>
                                        </ul>
                                        <h5><a href="https://www.hotstar.com/in/tv/game-of-thrones/8184?utm_source=gwa">Game of Thrones</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/aot.jpg">
                                        <div class="ep">4 seasons</div>
                                        <div class="comment"><i class="fa fa-star"></i> 9</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2013</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li> Action fiction</li>
{#                                            <li>Naoko Yamada</li>#}
                                            <li> Japanese</li>
                                        </ul>
                                        <h5><a href="https://www.hotstar.com/my/tv/attack-on-titan/1260059935/seasons/season-1/ss-8304">Attack on Titan</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                      <div class="recent__product">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div class="section-title">
                                        <h4>Recently Added </h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="btn__all">
                                        <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/recent/onbody.jpg">
                                        <div class="ep"> 1h 56m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 7.5</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2017</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>  Drama/Romance</li>
                                            <li> Ildikó Enyedi</li>
                                            <li>Hungarian</li>
                                        </ul>
                                        <h5><a href="https://www.netflix.com/title/80177414">On Body and Soul</a></h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/recent/divines.jfif">
                                        <div class="ep">1h 45m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 7.4</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2016</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li> Drama/Crime</li>
                                            <li>Uda Benyamina</li>
                                            <li>French</li>
                                        </ul>
                                        <h5><a href="https://www.netflix.com/in/title/80115031?source=35">Divines</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/recent/system.jpg">
                                        <div class="ep">1h 59m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 7.8</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2019</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Drama/Narrative</li>
                                            <li>Nora Fingscheidt</li>
                                            <li>German</li>
                                        </ul>
                                        <h5><a href="https://mubi.com/films/system-crasher">System Crasher</a></h5>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/recent/silent.jfif">
                                        <div class="ep">2h 9m</div>
                                        <div class="comment"><i class="fa fa-star"></i> 8.1</div>
                                        <div class="view"><i class="fa fa-calendar-check-o"></i> 2016</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Drama/Romance</li>
                                            <li>Naoko Yamada</li>
                                            <li> Japanese</li>
                                        </ul>
                                        <h5><a href="https://www.netflix.com/in/title/80223226?source=35">A Silent Voice</a></h5>
                                    </div>
                                </div>
                            </div>

                                </div>
                            </div>
                        </div>

                    </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="./index.html">Homepage</a></li>
                            <li><a href="./categories.html">Categories</a></li>
                            <li><a href="./blog.html">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/player.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>


</body>

</html>