{% extends 'temp/admin.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
<center>
    <table class="table" style="width: 40%" >
        <tr  style="height: 50px; background-color: #B0450D">
            <th>username</th>
            <th>password</th>
            <th>DOB</th>
            <th>country</th>
            <th>language</th>
            <th>mailid</th>
            <th>phone</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
         {% for i in x %}
        <tr  style="background-color: white;">
            <th>{{ i.username }}</th>
            <th>{{ i.password }}</th>
            <th>{{ i.dob }}</th>
            <th>{{ i.country }}</th>
            <th>{{ i.language }}</th>
            <th>{{ i.mail_id }}</th>
            <th>{{ i.phone }}</th>
            <th>{{ i.status }}</th>
        <th><a href="{% url 'aprove' idd=i.u_id %}">Aprove</a> </th>
        <th><a href="{% url 'reject' idd=i.u_id %}">Reject</a> </th>

        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>
{% endblock %}