{% extends 'temp/user.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>username</th>
            <th>password</th>
            <th>DOB</th>
            <th>country</th>
            <th>language</th>
            <th>mailid</th>
            <th>phone</th>
        </tr>
         {% for i in kk %}
        <tr>
            <th>{{ i.username }}</th>
            <th>{{ i.password }}</th>
            <th>{{ i.dob }}</th>
            <th>{{ i.country }}</th>
            <th>{{ i.language }}</th>
            <th>{{ i.mail_id }}</th>
            <th>{{ i.phone }}</th>
        <th><a href="{% url 'update' idd=i.u_id %}">Update</a> </th>

        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}