{% extends 'temp/admin.html' %}
{% block base %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <table border="2px" class="table-light" width="70%">
        <thead class="table-danger">
            <th>name</th>
            <th>year</th>
            <th>director</th>
            <th>rating</th>
            <th>runtime</th>
            <th>discription</th>
            <th>source</th>
            <th>likes</th>
            <th>trailer</th>
            <th>poster</th>
            <th>category</th>
            <th>language</th>
        </thead>

         {% for i in kt %}
        <tr class="table-info">
            <td>{{ i.name }}</td>
            <td>{{ i.year }}</td>
            <td>{{ i.director }}</td>
            <td>{{ i.rating }}</td>
            <td>{{ i.runtime }}</td>
            <td>{{ i.discription }}</td>
            <td>{{ i.source }}</td>
            <td>{{ i.likes }}</td>
            <td>{{ i.trailer }}</td>
            <td><img src="/static/{{ i.poster }}" width="50" height="50"></td>
            <td>{{ i.category }}</td>
            <td>{{ i.language }}</td>

        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>
{% endblock %}